<html>

<head>
  <title>SRM Innovation and Incubation Centre</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" href="../res/css/globals.css" />
  <link rel="stylesheet" href="../res/css/style.css" />
  <link rel="stylesheet" href="../res/css/herocards.css" />
  <link rel="stylesheet" href="../res/css/navbar.css" />
  <script src="navbar.js"></script>
</head>

<body>
  <!-- ======================== -->
  <!--     SECTION 0: HERO      -->
  <!-- ======================== -->
  <section class="kz-section-hero"
    style="height: 100%; width: 100%; background-image: url(../img/texture.svg); z-index: -1;">
    <div class="kz-headbar d-flex justify-content-between">
      <img src="../res/img/logo.jpg" alt="logo" class="kz-logo" />

      <a id="header__button" class="hamburger">
        <div class="hamburger__inner"></div>
      </a>

      <div>
        <a style="text-decoration: none; color: inherit;" href="#"><span
            style="text-transform: uppercase; letter-spacing: 0.3px;">Apply now
            <span style="" class="fas fa-angle-right ml-2"></span></span></a>
      </div>
    </div>

    <!-- ============================= -->
    <!--      SECTION 1: HERO CARDS    -->
    <!-- ============================= -->
    <!-- <div class="card-wrapper">
      <div class="hero-cards1">
        <h5 class="text-center">TRIUMPH TALKS</h5>
        <div class="card-content1">
          <h2>This is card 1</h2>
        </div>
        <button class="mybtn1">
          Learn More
        </button>
      </div>
      <div class="hero-cards2">
        <h5 class="text-center">SHOWTIME</h5>
        <div class="card-content2">
          <h2>This is card 2</h2>
        </div>
        <button class="mybtn2">
          Learn More
        </button>
      </div>
    </div> -->
    <div class="card-wrapper">
      <div class="hero-cards1">
        <h2 class="hero-cards-heading1">Triumph Talks</h2>
        <p class="hero-cards-subheading1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore
          magna aliqua.</p>
      </div>
      <div class="hero-cards2">
        <h2 class="hero-cards-heading2">Show Time</h2>
        <p class="hero-cards-subheading2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </section>

  <!-- ============================= -->
  <!--      SECTION 2: EVENTS        -->
  <!-- ============================= -->

  <section class="kz-section kz-section-startups container">
    <h2 class="section-title">
      <span>U</span>pcoming Events<span>.</span>
    </h2>

    <div class="container" style="margin-top: 70px;">
      <div class="row" style="margin-top: 30px; padding: 20px;">
        <div class="col-md-2" style="padding: 0px;">
          <div class="event-img">
            <img src="../res/img/jelly.jpg" style="height: 250px; width: 100%;" />
          </div>
        </div>
        <div class="col-6 col-md-3 text-center mb-5">
          <img class="w-100" style="max-width: 100px;" src="../res/img/logo.jpg" />
        </div>
        <div class="col-6 col-md-3 text-center mb-5">
          <img class="w-100" style="max-width: 100px;" src="../res/img/logo.jpg" />
        </div>
        <div class="col-6 col-md-3 text-center mb-5">
          <img class="w-100" style="max-width: 100px;" src="../res/img/logo.jpg" />
        </div>
      </div>
  </section>

  <!-- ========================= -->
  <!--     SECTION 2: ABOUT      -->
  <!-- ========================= -->

  <section class="kz-section kz-section-about kz-section-alt">
    <h2 class="section-title"><span>A</span>bout us<span>.</span></h2>
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-sm-6">
          <p>
            Nostrud laboris consequat ex ut duis cillum sit incididunt duis
            ea. Eu minim nostrud eiusmod voluptate. Qui commodo consectetur
            consequat proident occaecat aute duis. Ut exercitation tempor sint
            Lorem Lorem aliquip do voluptate et id elit deserunt id ea. Ad
            irure mollit id irure consequat quis excepteur duis commodo
            consequat voluptate quis. Qui laboris minim laborum aliquip
            cupidatat do do voluptate velit consectetur. <br /><br />
            Commodo esse labore velit in consectetur in voluptate ipsum
            commodo dolor excepteur ad fugiat. Ullamco elit sint voluptate
            culpa officia duis sunt qui commodo. Aliquip officia laborum
            eiusmod consequat ut occaecat sit id. Et aliqua fugiat qui ad sit
            culpa. Enim adipisicing duis ea ipsum laboris. Non nisi aliquip
            veniam sit eiusmod ad pariatur duis adipisicing ex velit voluptate
            magna ea.
          </p>
          <a href="#" class="btn kz-btn-lm">Learn more<span class="kz-yellow">.</span></a>
        </div>
        <div class="col-sm-6">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <img class="w-100" src="../res/img/nav1.jpg" />
              </div>
              <div class="col-6">
                <img class="w-100" src="../res/img/nav1.jpg" />
              </div>
              <div class="col-6">
                <img class="w-100" src="../res/img/nav1.jpg" />
              </div>
              <div class="col-6">
                <img class="w-100" src="../res/img/nav1.jpg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ============================= -->
  <!--    SECTION 3: NUMBER BAR      -->
  <!-- ============================= -->

  <section class="kz-section kz-section-number-bar container">
    <div class="row mt-2">
      <div class="col-6 col-md-3 text-center mb-5 kz-number-tile">
        <p>Startups</p>
        <p class="kz-number-tile-value">42</p>
      </div>
      <div class="col-6 col-md-3 text-center mb-5 kz-number-tile">
        <p>Startups</p>
        <p class="kz-number-tile-value">100</p>
      </div>
      <div class="col-6 col-md-3 text-center mb-5 kz-number-tile">
        <p>Startups</p>
        <p class="kz-number-tile-value">21</p>
      </div>
      <div class="col-6 col-md-3 text-center mb-5 kz-number-tile">
        <p>Startups</p>
        <p class="kz-number-tile-value">7</p>
      </div>
    </div>
  </section>

  <!-- ========================= -->
  <!--     SECTION 4: TEAM       -->
  <!-- ========================= -->

  <section class="kz-section kz-section-team kz-section-alt">
    <h2 class="section-title"><span>O</span>ur team<span>.</span></h2>
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-sm-6">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <img class="w-100" src="../res/img/nav1.jpg" />
              </div>
              <div class="col-6">
                <img class="w-100" src="../res/img/nav1.jpg" />
              </div>
              <div class="col-6">
                <img class="w-100" src="../res/img/nav1.jpg" />
              </div>
              <div class="col-6">
                <img class="w-100" src="../res/img/nav1.jpg" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <p>
            Nostrud laboris consequat ex ut duis cillum sit incididunt duis
            ea. Eu minim nostrud eiusmod voluptate. Qui commodo consectetur
            consequat proident occaecat aute duis. Ut exercitation tempor sint
            Lorem Lorem aliquip do voluptate et id elit deserunt id ea. Ad
            irure mollit id irure consequat quis excepteur duis commodo
            consequat voluptate quis. Qui laboris minim laborum aliquip
            cupidatat do do voluptate velit consectetur. <br /><br />
            Commodo esse labore velit in consectetur in voluptate ipsum
            commodo dolor excepteur ad fugiat. Ullamco elit sint voluptate
            culpa officia duis sunt qui commodo. Aliquip officia laborum
            eiusmod consequat ut occaecat sit id. Et aliqua fugiat qui ad sit
            culpa. Enim adipisicing duis ea ipsum laboris. Non nisi aliquip
            veniam sit eiusmod ad pariatur duis adipisicing ex velit voluptate
            magna ea.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- ============================ -->
  <!--     SECTION 5: GALLERY       -->
  <!-- ============================ -->
  <section class="kz-section kz-section-gallery">
    <h2 class="section-title"><span>W</span>all of fame<span>.</span></h2>
    <div class="kz-grid mt-1">
      <div class="one">
        <img class="w-100 h-100" src="../res/img/nav1.jpg" alt="image" />
      </div>
      <div class="two">
        <img class="w-100 h-100" src="../res/img/nav2.jpg" alt="image" />
      </div>
      <div class="three">
        <img class="w-100 h-100" src="../res/img/nav3.jpg" alt="image" />
      </div>
      <div class="four">
        <img class="w-100 h-100" src="../res/img/nav4.jpg" alt="image" />
      </div>
      <div class="five">
        <img class="w-100 h-100" src="../res/img/nav3.jpg" alt="image" />
      </div>
      <div class="six">
        <img class="w-100 h-100" src="../res/img/nav2.jpg" alt="image" />
      </div>
      <div class="seven">
        <img class="w-100 h-100" src="../res/img/nav1.jpg" alt="image" />
      </div>
      <div class="eight">
        <img class="w-100 h-100" src="../res/img/nav4.jpg" alt="image" />
      </div>
    </div>
  </section>

  <!-- ========================= -->
  <!--    SECTION 6: SERVICES    -->
  <!-- ========================= -->

  <section class="kz-section kz-section-services container">
    <h2 class="section-title"><span>W</span>hat we offer<span>.</span></h2>
    <div class="row mt-5">
      <div class="col-6 col-md-4 text-center mb-3">
        <img class="w-100 mb-3" style="max-width: 100px;" src="../res/img/logo.jpg" />
        <p style="font-size: 1.4rem; letter-spacing: 0.4px; font-weight: 300; text-transform: uppercase;">
          Incubation
        </p>
      </div>
      <div class="col-6 col-md-4 text-center mb-3">
        <img class="w-100 mb-3" style="max-width: 100px;" src="../res/img/logo.jpg" />
        <p style="font-size: 1.4rem; letter-spacing: 0.4px; font-weight: 300; text-transform: uppercase;">
          Incubation
        </p>
      </div>
      <div class="col-6 col-md-4 text-center mb-3">
        <img class="w-100 mb-3" style="max-width: 100px;" src="../res/img/logo.jpg" />
        <p style="font-size: 1.4rem; letter-spacing: 0.4px; font-weight: 300; text-transform: uppercase;">
          Incubation
        </p>
      </div>
      <div class="col-6 col-md-4 text-center mb-3">
        <img class="w-100 mb-3" style="max-width: 100px;" src="../res/img/logo.jpg" />
        <p style="font-size: 1.4rem; letter-spacing: 0.4px; font-weight: 300; text-transform: uppercase;">
          Incubation
        </p>
      </div>
    </div>
  </section>

  <!-- ============================== -->
  <!--     SECTION 7: CONTACT US      -->
  <!-- ============================== -->

  <section class="kz-section kz-section-contact-us kz-section-alt">
    <h2 class="section-title"><span>L</span>et's talk<span>.</span></h2>
    <div class="container mt-5">
      <form>
        <div class="form-row align-items-center">
          <div class="col">
            <label class="sr-only" for="fieldName">Name</label>
            <input type="text" class="form-control mb-2" id="fieldName" placeholder="Full name" />
          </div>
          <div class="col">
            <label class="sr-only" for="fieldEmail">Email</label>
            <input type="email" class="form-control mb-2" id="fieldEmail" placeholder="Email address" />
          </div>

          <div class="col-auto">
            <button type="submit" class="btn mb-2 kz-btn">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- ============================== -->
  <!--     SECTION 8: NEWSLETTER      -->
  <!-- ============================== -->

  <section class="kz-section kz-section-contact-us">
    <h2 class="section-title">
      <span>S</span>ubscribe to our newsletter<span>.</span>
    </h2>
    <div class="container mt-5">
      <form>
        <div class="form-row align-items-center">
          <div class="col">
            <label class="sr-only" for="fieldName">Name</label>
            <input type="text" class="form-control mb-2" id="fieldName" placeholder="Full name" />
          </div>
          <div class="col">
            <label class="sr-only" for="fieldEmail">Email</label>
            <input type="email" class="form-control mb-2" id="fieldEmail" placeholder="Email address" />
          </div>

          <div class="col-auto">
            <button type="submit" class="btn mb-2 kz-btn">
              Sign me up
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- ============================= -->
  <!--     SECTION 9: VISITORS       -->
  <!-- ============================= -->
  <section class="kz-section kz-section-visitors kz-section-alt">
    <h2 class="section-title"><span>V</span>isitors @ SIIC<span>.</span></h2>
    <div class="kz-grid mt-1">
      <div class="one">
        <img class="w-100 h-100" src="../res/img/nav1.jpg" alt="image" />
      </div>
      <div class="two">
        <img class="w-100 h-100" src="../res/img/nav2.jpg" alt="image" />
      </div>
      <div class="three">
        <img class="w-100 h-100" src="../res/img/nav3.jpg" alt="image" />
      </div>
      <div class="four">
        <img class="w-100 h-100" src="../res/img/nav4.jpg" alt="image" />
      </div>
      <div class="five">
        <img class="w-100 h-100" src="../res/img/nav3.jpg" alt="image" />
      </div>
      <div class="six">
        <img class="w-100 h-100" src="../res/img/nav4.jpg" alt="image" />
      </div>
      <div class="seven">
        <img class="w-100 h-100" src="../res/img/nav1.jpg" alt="image" />
      </div>
      <div class="eight">
        <img class="w-100 h-100" src="../res/img/nav4.jpg" alt="image" />
      </div>
      <div class="nine">
        <img class="w-100 h-100" src="../res/img/nav2.jpg" alt="image" />
      </div>
    </div>
  </section>

  <!-- ============================= -->
  <!--     SECTION 10: FOOTER        -->
  <!-- ============================= -->

  <footer class="kz-footer kz-section">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-3">
          <div class="kz-logo mb-4">
            <img src="../res/img/logo.jpg" alt="logo" />
            <p class="mt-2">SRM Innovation and Incubation Centre</p>
          </div>

          <p class="kz-small kz-yellow kz-light">
            2019 &copy; SIIC. All rights reserved.
          </p>
        </div>

        <div class="col-6 col-md-3">
          <p class="kz-yellow kz-bold kz-footer-subtitle">Information</p>
          <ul>
            <li class="kz-small kz-light">
              <a href="#">About us<span class="kz-yellow">.</span></a>
            </li>
            <li class="kz-small kz-light">
              <a href="#">Events<span class="kz-yellow">.</span></a>
            </li>
            <li class="kz-small kz-light">
              <a href="#">Teams<span class="kz-yellow">.</span></a>
            </li>
            <li class="kz-small kz-light">
              <a href="#">Startups<span class="kz-yellow">.</span></a>
            </li>
            <li class="kz-small kz-light">
              <a href="#">Companies<span class="kz-yellow">.</span></a>
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-3">
          <p class="kz-yellow kz-bold kz-footer-subtitle">Helpful links</p>
          <ul>
            <li class="kz-small kz-light">
              <a href="#">Services<span class="kz-yellow">.</span></a>
            </li>
            <li class="kz-small kz-light">
              <a href="#">Partners<span class="kz-yellow">.</span></a>
            </li>
            <li class="kz-small kz-light">
              <a href="#">Mentors<span class="kz-yellow">.</span></a>
            </li>
            <li class="kz-small kz-light">
              <a href="#">Integrated workspaces<span class="kz-yellow">.</span></a>
            </li>
            <li class="kz-small kz-light">
              <a href="#">Privacy policy<span class="kz-yellow">.</span></a>
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-3">
          <p class="kz-yellow kz-bold kz-footer-subtitle">Connect</p>
          <ul>
            <li class="kz-small kz-light">
              <a href="#">Facebook<span class="kz-yellow">.</span></a>
            </li>
            <li class="kz-small kz-light">
              <a href="#">Twitter<span class="kz-yellow">.</span></a>
            </li>
            <li class="kz-small kz-light">
              <a href="#">Instagram<span class="kz-yellow">.</span></a>
            </li>
            <li class="kz-small kz-light">
              <a href="#">LinkedIn<span class="kz-yellow">.</span></a>
            </li>
            <li class="kz-small kz-light">
              <a href="mailto:manager@srmiic.com">Email<span class="kz-yellow">.</span></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row mt-5 mb-2 mx-auto" style="background-color: rgba(255, 255, 255, 0.4); height: 1px; width: 90%;">
      </div>

      <div class="kz-footnote mt-4">
        <div class="one">
          crafted with
          <span style="color: #cc3336;" class="fas fa-heart"></span> by
          <a href="#">SRMKZILLA</a><span class="kz-yellow">.</span>
        </div>

        <div class="three text-right">
          supported by <a href="#">SRMIST</a><span class="kz-yellow">.</span>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="../res/js/script.js"></script>
</body>

</html>