<div class="kz-nav-menu">
      <ul>
        <li onmousehover="updateNavImage(7)" onmouseout="updateNavImage(-1)">
          <a href="/">Home</a>
        </li>
        <li onmouseover="updateNavImage(0)" onmouseout="updateNavImage(-1)">
          <a href="#aboutus">About us</a>
        </li>
        <li onmouseover="updateNavImage(1)" onmouseout="updateNavImage(-1)">
          <a href="/events">What we offer</a>
        </li>
        <!-- <li onmouseover="updateNavImage(2)" onmouseout="updateNavImage(-1)">
          <a href="mentors.html">Mentors</a>
        </li>
        <li onmouseover="updateNavImage(3)" onmouseout="updateNavImage(-1)">
          <a href="companies.html">Partners</a>
        </li>
        <li onmouseover="updateNavImage(4)" onmouseout="updateNavImage(-1)">
          <a href="allstartup.html">Facilities</a>
        </li> -->
        <li onmouseover="updateNavImage(6)" onmouseout="updateNavImage(-1)">
          <a href="/teams">Our Teams</a>
        </li>
        <li onmouseover="updateNavImage(5)" onmouseout="updateNavImage(-1)">
          <a href="/siicteam">SIIC Team</a>
        </li>
      </ul>
    </div>