<html>
  <head>
    <title>SRM Innovation and Incubation Centre | Teams</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../res/css/globals.css" />
    <link rel="stylesheet" href="../res/css/style.css" />
    <link rel="stylesheet" href="../res/css/navbar.css" />
    <link rel="stylesheet" href="../res/css/teams.css" />
  </head>
  <body>
    <!-- ======================== -->
    <!--     SECTION 0: HERO      -->
    <!-- ======================== -->
    <section class="kz-section-hero">
      <div class="kz-headbar d-flex justify-content-between">
        <img src="../res/img/logo.jpg" alt="logo" class="kz-logo" />

        <a id="header__button" class="hamburger" href="#">
          <div class="hamburger__inner"></div>
        </a>

        <div>
          <a style="text-decoration: none; color: inherit;" href="#"
            ><span style="text-transform: uppercase; letter-spacing: 0.3px;"
              >Apply now
              <span style="" class="fas fa-angle-right ml-2"></span></span
          ></a>
        </div>
      </div>

      <div class="kz-nav-menu">
        <ul>
          <li onmouseover="updateNavImage(0)" onmouseout="updateNavImage(-1)">
            <a href="index.html">Home</a>
          </li>
          <li onmouseover="updateNavImage(1)" onmouseout="updateNavImage(-1)">
            <a href="events.html">What we offer</a>
          </li>
          <li onmouseover="updateNavImage(2)" onmouseout="updateNavImage(-1)">
            <a href="mentors.html">Mentors</a>
          </li>
          <li onmouseover="updateNavImage(3)" onmouseout="updateNavImage(-1)">
            <a href="companies.html">Partners</a>
          </li>
          <li onmouseover="updateNavImage(4)" onmouseout="updateNavImage(-1)">
            <a href="startupnew.html">Facilities</a>
          </li>
          <li onmouseover="updateNavImage(3)" onmouseout="updateNavImage(-1)">
            <a href="teams.html">Team</a>
          </li>
        </ul>
      </div>

      <div class="kz-hero-box">
        <h1>TEAMS</h1>
        <h2>innovate | incubate | inspire</h2>
      </div>
    </section>

    <!-- ============================= -->
    <!--      SECTION 1: STARTUPS      -->
    <!-- ============================= -->

    <section class="kz-section kz-section-startups container">
      <h2 class="section-title">
        <div class="button-group filters-button-group">
          <button class="button is-checked" data-filter="*">All</button>
          <button class="button" data-filter=".robotics">Robotics</button>
          <button class="button" data-filter=".aeromodelling">
            Aeromodelling
          </button>
          <button class="button" data-filter=".automobile">Automobile</button>
          <button class="button" data-filter=".marine">Marine</button>
          <!--<button class="button" data-filter=".random">Random</button>-->
        </div>
      </h2>

      <section
        id="grid-container"
        class="transitions-enabled fluid masonry js-masonry grid"
      >

        <% startups.forEach(startup => { %>
            <article class="<%= startup.startupField %>">
            <a href="/startups/<%= startup.id %>"><img src="<%= startup.logoUrl || '../res/img/nav1.jpg' %>" class="img-responsive"></a>
        </article>
        <% }); %>
        <!--<article class="robotics aeromodelling marine">
          <a href="startupnew.html"
            ><img src="../res/img/nav1.jpg" class="img-responsive"
          /></a>
        </article>
        <article class="random marine">
          <a href="startupnew.html"
            ><img src="../res/img/nav1.jpg" class="img-responsive"
          /></a>
        </article>
        <article class="aeromodelling">
          <a href="startupnew.html"
            ><img src="../res/img/nav1.jpg" class="img-responsive"
          /></a>
        </article>
        <article class="random robotics automobile aeromodelling">
          <a href="startupnew.html"
            ><img src="../res/img/nav1.jpg" class="img-responsive"
          /></a>
        </article>
        <article class="random marine automobile">
          <a href="startupnew.html"
            ><img src="../res/img/nav1.jpg" class="img-responsive"
          /></a>
        </article>
        <article class="robotics">
          <a href="startupnew.html"
            ><img src="../res/img/nav1.jpg" class="img-responsive"
          /></a>
        </article>
        <article class="marine">
          <a href="startupnew.html"
            ><img src="../res/img/nav1.jpg" class="img-responsive"
          /></a>
        </article>-->
      </section>
    </section>

    <!-- ========================= -->
    <!--     SECTION 2: JOIN US      -->
    <!-- ========================= -->

    <section class="kz-section kz-section-about kz-section-alt">
      <h2 class="section-title"><span>J</span>oin us<span>.</span></h2>
      <div class="container mt-5">
        <div class="row mt-5">
          <div class="col-sm-12 text-center">
            <p>
              quote
            </p>
            <a href="#" class="btn kz-btn-lm"
              >Apply now<span class="kz-yellow">.</span></a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- ============================= -->
    <!--     SECTION 10: FOOTER        -->
    <!-- ============================= -->

    <footer class="kz-footer kz-section">
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-3">
            <div class="kz-logo mb-4">
              <img src="../res/img/logo.jpg" alt="logo" />
              <p class="mt-2">SRM Innovation and Incubation Centre</p>
            </div>

            <p class="kz-small kz-yellow kz-light">
              2019 &copy; SIIC. All rights reserved.
            </p>
          </div>

          <div class="col-6 col-md-3">
            <p class="kz-yellow kz-bold kz-footer-subtitle">Information</p>
            <ul>
              <li class="kz-small kz-light">
                <a href="#">About us<span class="kz-yellow">.</span></a>
              </li>
              <li class="kz-small kz-light">
                <a href="#">Events<span class="kz-yellow">.</span></a>
              </li>
              <li class="kz-small kz-light">
                <a href="#">Teams<span class="kz-yellow">.</span></a>
              </li>
              <li class="kz-small kz-light">
                <a href="#">Startups<span class="kz-yellow">.</span></a>
              </li>
              <li class="kz-small kz-light">
                <a href="#">Companies<span class="kz-yellow">.</span></a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-md-3">
            <p class="kz-yellow kz-bold kz-footer-subtitle">Helpful links</p>
            <ul>
              <li class="kz-small kz-light">
                <a href="#">Services<span class="kz-yellow">.</span></a>
              </li>
              <li class="kz-small kz-light">
                <a href="#">Partners<span class="kz-yellow">.</span></a>
              </li>
              <li class="kz-small kz-light">
                <a href="#">Mentors<span class="kz-yellow">.</span></a>
              </li>
              <li class="kz-small kz-light">
                <a href="#"
                  >Integrated workspaces<span class="kz-yellow">.</span></a
                >
              </li>
              <li class="kz-small kz-light">
                <a href="#">Privacy policy<span class="kz-yellow">.</span></a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-md-3">
            <p class="kz-yellow kz-bold kz-footer-subtitle">Connect</p>
            <ul>
              <li class="kz-small kz-light">
                <a href="#">Facebook<span class="kz-yellow">.</span></a>
              </li>
              <li class="kz-small kz-light">
                <a href="#">Twitter<span class="kz-yellow">.</span></a>
              </li>
              <li class="kz-small kz-light">
                <a href="#">Instagram<span class="kz-yellow">.</span></a>
              </li>
              <li class="kz-small kz-light">
                <a href="#">LinkedIn<span class="kz-yellow">.</span></a>
              </li>
              <li class="kz-small kz-light">
                <a href="mailto:manager@srmiic.com"
                  >Email<span class="kz-yellow">.</span></a
                >
              </li>
            </ul>
          </div>
        </div>

        <div
          class="row mt-5 mb-2 mx-auto"
          style="background-color: rgba(255, 255, 255, 0.4); height: 1px; width: 90%;"
        ></div>

        <div class="kz-footnote mt-4">
          <div class="one">
            crafted with
            <span style="color: #cc3336;" class="fas fa-heart"></span> by
            <a href="#">SRMKZILLA</a><span class="kz-yellow">.</span>
          </div>

          <div class="three text-right">
            supported by <a href="#">SRMIST</a><span class="kz-yellow">.</span>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="../res/js/script.js"></script>
    <script src="../res/js/teams.js"></script>
    <script src="../res/js/navbar.js"></script>
  </body>
</html>
